* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading: rgb(0 10 45);
    --white: hsl(0, 0%, 100%);
    --skill: #bdbdbd;
    --para: #777777;
    --overlay: #2e3964;
    --para-tint: hsl(0, 0%, 100%);
    --third: #fff;
    --helper: rgb(19, 54, 81); 
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --black: #212529;
    --gradient: linear-gradient(0deg, rgb(58, 184, 193) 0%, rgb(4, 19, 30) 100%);
    --gradient-btn: linear-gradient(0deg, rgb(141, 219, 225) 0%, rgb(209, 213, 190) 100%);
    --shadow: 0px 0px 20px 0px rgba(90, 101, 195, 0.2);
    --shadowSupport: 0 1.2rem 1.2rem 0 rgb(229, 225, 225);
}

html, body{
    background: var(--gradient);
    background-repeat: no-repeat;  
    width: 100%;
    height: 100vh; 
}

.txt{
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
    background-repeat: no-repeat;
    gap: 1rem;
}

.chai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15rem;
    color:var(--white);
}


.hide{
    display: none;
}

.btn{
    background: var(--gradient-btn);
    padding: 1.6rem 3.2rem;
    border-radius: 1rem;
    border: none;
    color: var(--helper-tint);
    display: inline;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition:  all 0.3s ease 0s;
    -moz-transition:  all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:active{
    box-shadow: var(--shadowSupport);
}


@media(max-width:500px){
    .chai{
        padding-top: 50%;
    }
    .txt{
        padding-top: 70%;
        font-size: 0.7rem;
    }
}